.entry--tag {
    display: inline;
    color: $light-color;
    font-weight: 300;
    font-size: $font-sm;
    border-radius: 1em;
    margin-right: $spacing-xs;

    &:last-child {
        margin-right: 0;
    }

}
