* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h2 {
    font-weight: $bold;
    line-height: 1.3;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.7;
}

a {
    color: $primary-color;
    text-decoration: none;
}

input, textarea {
    font-family: $primary-font;
    outline: 0;
}
button {
    background-color: transparent;
    border: 0;
}

svg {
    width: 1.35em;
    height: 1.35em;
}

#app {
    position: relative;
    padding: $spacing-md;
    @include breakpoint(sm) {
        padding: $spacing-lg;
    }
}

.search-no-result {
    max-width: $container-width;
    margin: 0 auto;
    padding-top: $spacing-lg;
    font-size: $font-lg;
}

.btn-primary {
    font-family: $primary-font;
    background-color: rgba($primary-color, .3);
    box-shadow: 0;
    border: 0;
    padding: $spacing-sm;
    min-width: 50%;
    color: $white;
    &:focus,
    &:hover {
        outline: 0;
        background-color: $primary-color;
    }
}

.btn-left {
    border-right: 1px solid rgba($primary-color, .1);
}
