.entry-form-active:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba($primary-color, .7);
}

.entry-form {
    width: 100%;
    margin-bottom: $spacing-md;
    border-radius: 1em;
    max-width: 650px;
    padding: $spacing-md;
    position: absolute;
    z-index: 11;
    top: -$spacing-lg;
    left: 0;
    right: 0;
    background-color: $bg-color;
    margin: 0 auto $spacing-xl;
    color: rgba($primary-color, .6);

    @include breakpoint(sm) {
        padding: $spacing-lg;
    }

    .entry--tags {
        padding: $spacing-base 0 0;
    }

    .entry--tag {
        margin: $spacing-sm $spacing-sm $spacing-sm 0;
        padding: $spacing-xs $spacing-sm;
        color: $white;
        background: $highlight-color;
        cursor: pointer;
    }

    svg {
        color: $primary-color;
        &:hover {
            color: $highlight-color;
        }
    }

}

.entry-form form {
    width: 100%;
    position: relative;
}

.entry-form h2 {
    margin: 0;
    color: $primary-color;
}

.entry-form .field {
    padding-top: $spacing-lg;
    position: relative;
}

.entry-form label {
    display: block;
    padding-bottom: $spacing-sm;
    font-weight: $medium;
    font-size: $font-sm;
}

.entry-form input[type="text"],
.entry-form textarea {
    width: 100%;
    box-shadow: 0px 1px 1px 0px rgba($light-color,.4);
    padding: $spacing-sm $spacing-md;
    border-radius: $spacing-md;
    border: 0;
    border-bottom: 1px solid $light-color;
}

.entry-form--body textarea {
    min-height: 250px;
    line-height: 1.7;
    resize: none;
    border-radius: $spacing-sm;
}

.entry-form--submit {
    border: 0;
    background-color: $primary-color;
    padding: $spacing-md;
    color: $white;
    font-family: $primary-font;
    text-transform: uppercase;
    width: 100%;
    margin: $spacing-lg auto 0;
    border-radius: $spacing-xl;
    display: block;
    &:hover {
        background: $highlight-color;
    }
}

.entry-form--tags input[type="text"] {
    width: calc(100% - 2em);
}

.entry-form--add-tag {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: $spacing-sm;
}

.entry-form--close {
    text-align: right;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

.entry-form--type label {
    cursor: pointer;
}

.entry-form--type label:hover svg,
.entry-form--type input[type="radio"]:checked + label svg {
    background-color: $highlight-color;
    transition: background 0.25s linear;
    box-shadow: 0px 1px 1px 0px rgba($primary-color,.4);
}

.entry-form--type {
    lost-center: 100%;
    justify-content: space-between;
}

.entry-form--type input[type="radio"]:not(:checked) + label svg {
    background-color: $primary-color;
    box-shadow: 0px 1px 1px 0px rgba($primary-color, .2);
    transition: background 0.25s linear;
}

.entry-form--type input {
    display: none;
}

.entry-form--type label {
    text-align: center;
    padding-bottom: 0;
}

.entry-form--type span {
    display: inline;
    margin: $spacing-sm 0 0 $spacing-sm;
    font-weight: $medium;
    text-transform: uppercase;
    font-size: $font-sm;
}

.entry-form--type svg {
    width: 3em;
    height: 3em;
    padding: $spacing-xs;
    border-radius: 50%;
    fill: $white;
    @include breakpoint(sm) {
        padding: $spacing-sm;
        width: 3.7em;
        height: 3.7em;
    }
}
