.entry-list {
    lost-center: 100%;
    width: 100%;
}

.entry-form-active .entry-list {
    align-items: flex-start;
}

.entry {
    background-color: $white;
    box-sizing: border-box;
    padding: $spacing-md;
    margin-bottom: $spacing-md;
    min-height: 250px;
    width: 100%;
    @include breakpoint(sm) {
        lost-column: 1/2;
    }
    @include breakpoint(md) {
        lost-column: 1/3;
    }
    @include breakpoint(lg) {
        lost-column: 1/4;
    }
    @include breakpoint(xl) {
        lost-column: 1/5;
    }
}

.entry {
    lost-flex-container: column;
    justify-content: space-between;

    .entry--tag:after {
        content: '/';
        margin-left: $spacing-xs;
    }

    .entry--tag:last-child:after {
        content: '';
    }

}

.entry.post h2 {
    font-weight: $bold;
}

.entry.url h2,
.entry.video h2 {
    font-size: $font-lg;
}
