.main-header {
    lost-center: $container-width;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1000;
    justify-content: flex-end;
}

.tools svg {
    width: 1.5em;
    height: 1.5em;
}

.search input {
    width: 100%;
    outline: 0;
    border: 0;
    line-height: 1.5;
    border-bottom: 1px solid $light-color;
    font-size: $font-lg;
    background-color: transparent;
    margin-top: -$spacing-sm;
}

.active {
    color: $active-color;
}

.search {
    lost-column: 2/3 0 0;
    padding-right: $spacing-sm;
}

.tools {
    lost-column: 1/3 0 0;
    lost-center: 100%;
}

.tools li {
    text-align: right;
    lost-column: 1/3;
    box-sizing: border-box;
    &:hover {
        color: $active-color;
    }
}

.logo {
    lost-column: 1/14 0;
    display: none;
    h1 {
        margin: 0;
        line-height: 0.7;
    }
}

@include breakpoint(sm) {

    .logo {
        display: initial;
    }

    .tools,
    .search {
        display: flex;
    }

    .search {
        lost-column: 11/14 0;
        padding-right: 0;
        padding-left: $spacing-sm;
    }

    .tools {
        lost-column: 2/14 0;
    }

}
