// Colors
$primary-color: #3b3f49;
$highlight-color: #A5C8CA;
$tertiary-color: #f7a29e;

$active-color: $highlight-color;
$active-hover-color: $primary-color;

$bg-color: rgb(250,250,250);
$light-color: rgb(230,230,230);
$text-color: $primary-color;
$white: #ffffff;

// Spacing
$spacing-base: 20px;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;
$spacing-xl: 60px;

// Font Sizes
$font-sm: .95em;
$font-md: 1.2em;
$font-lg: 1.6em;
$font-xl: 2.1em;

$medium: 500;
$bold: 600;
$heavy: 700;

// widths
$container-width: 1600px;

// Fonts
$primary-font: 'Avenir Next', 'Arial', sans-serif;
$secondary-font: 'Arial', sans-serif;

// Lost
@lost gutter 20px;
@lost flexbox flex;

