.notification {
    max-width: $container-width;
    margin: 0 auto;
    padding: $spacing-md;
    text-align: center;
    background-color: $white;
    color: $primary-color;
    position: relative;

    strong {
        font-weight: $bold;
    }

}

.notification .icon-close {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
    display: block;
    color: $primary-color;
}

.notification.confirm {
    z-index: 10;
    text-align: center;
    border-radius: .5em;
    overflow: hidden;
    max-width: 450px;
    border: 1px solid rgba($primary-color, .1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    strong {
        display: block;
        padding: $spacing-md;
    }

}

