.entry.url,
.entry.video {

    .entry-tools li,
    .entry-tools--toggle {
        color: $white;
    }

    .entry--tags {
        opacity: .7;
    }
}

.entry-tools,
.entry-tools--tools {
    position: relative;
    lost-flex-container: row;
    justify-content: space-between;
}

.entry-tools--tools {
    width: 75%;
}

.entry-tools--toggle,
.entry-tools--tools li {
    opacity: .5;
    color: $tertiary-color;
    text-align: right;

    &:hover {
        opacity: 1
    }
}

.entry-tools--toggle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.entry-tools.toggle-tools {

    .entry--tags {
        display: none;
    }

    .entry-tools--toggle {
        position: relative
    }

}
