// Mixins
$breakpoints: (
    sm : 768px,
    md: 992px,
    lg : 1200px,
    xl : 1400px
);

@mixin breakpoint($mq-breakpoint, $mq-breakpoints: $breakpoints) {
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
        $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }
    @media screen and (min-width: #{$mq-breakpoint}) {
        @content;
    }
}
